
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>
    <div class="container">
        <div class="jumbotron">
            <h1>Om mig</h1>
            <p1>


            </p1>    



            @*<hr class="m-y-2">
            <p class="lead">
                <a class="btn btn-primary" href="/" role="button">Home</a>
                <a class="btn btn-primary" href="/Home/About" role="button">Om mig</a>
                <a class="btn btn-primary" href="/Home/Contact" role="button">Kontakt</a>
            </p>*@
        </div>
    </div>





</body>

